<div class="sign-in flex">

    <div class="login-page flex">

    <div>
        <h3 class="mb2">Login</h3>
        <form action="/admin" method="POST">

        <label for="username" id="username"><b>Username</b></label><br>
        <input type="text" placeholder="Enter Username" name="username"><br>
        <br>
        <label for="password" id="password"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="password"><br><br>

        <input type="submit" value="Login" class="btn action-btn" >

        </form>
    </div>

    <!-- <div>
        <h3>Register</h3>
        <form action="/register" method="POST">

        <label for="username" id="username"><b>Username</b></label><br>
        <input type="text" placeholder="Enter Username" name="username"><br>
        <br>
        <label for="password" id="password"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="password"><br><br>

        <input type="submit" value="Register" class="btn action-btn" >

        </form>
    </div> -->


</div>

