<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lena Esposito Blog: Calculator (JavaScript)</title>
    <link href="jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/lenaesposito.css">
    <link rel="stylesheet" href="../public/styles/blog.css">

    <script src="https://kit.fontawesome.com/c5fce3d149.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="../public/styles/lenaesposito.css">
    <link rel="stylesheet" href="../public/styles/blog.css">
    <link rel="stylesheet" href="newpost.css">
    <style>

    </style>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N5N9M504R8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N5N9M504R8');
</script>

<body class="flex-column">
    <header class="primary-header background-white flex shadow">

        <div class="w70 flex header scrollWatcher">
            <!-- 1 .header -->
            <a href="../index.html">
                <div class="logo flex">
                    <img class="image image1" height="100px" src="https://lenaesposito.co.uk/assets/le-logo.svg"
                        alt="lena esposito logo part 1">
                    <img class="image image2 shake-horizontal" height="80px"
                        src="https://lenaesposito.co.uk/assets/lenaesposito.svg" alt="lena esposito logo part2">
                </div>


                <div class="nav-blog">Blog</div>
            </a>
            <!-- 2 .header-->
            <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only"
                    aria-expanded="false">Menu</span></button>
            <!-- 3 .header-->
            <nav role="navigation" class="navmenu">
                <ul id="primary-navigation" data-visible="false" class="primary-navigation uppercase flex"
                    nav-visible="false">
                    <li><a class="link-nav " href="categories.html">Categories</a></li>
                    <li><a class="shadow action-btn" href="pages/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Copy from here -->
    <style>
        body {
            background: url('../assets/bg2.jpg');
            color: rgb(44, 44, 44);
        }

        * {
            transition: none;

        }

        .console-log {
            font-family: 'Courier New', Courier, monospace;
            color: rgb(13, 4, 191);
            margin-left: 1rem;
            font-weight: bold;
        }

        .console-log span {
            color: rgb(95, 137, 91);
            margin-top: 1rem;
            margin-left: 3rem;
        }

        .console-log div {
            margin-top: 1rem;
            margin-left: 10rem;

            color: rgb(95, 137, 91);

        }

        .desc {
            font-style: italic;
            font: 0.9rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        .code {
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }

        span.method {
            color: orangered;
        }

        .transp {
            color: transparent;
        }
    </style>
    <div class="separator mb5"></div>


    <div class="w70">
        <h1 class="entry-title">JavaScript Arrays Cheat Sheet</h1>
        <p class="text">
            Let's revise on the arrays in JavaScript.
        </p>
        <h2 class="mt3 mb3 entry-subtitle">Array Methods and Loops</h2>




        <p class="desc">This is our array.</p>

        <p class="code"> let colorArray = ["red", "blue", "orange"] </p>

        <div class="console-log">console.log(colorArray) <span>//(3) ['red', 'blue', 'orange']<br></span></div>

        <div class="desc"> Let's access the array's individual elements. We need to type the array name, followed by
            square brackets with the index number. </div>
        <div class="console-log">console.log(colorArray[0]) <span>//red<br></span></div>

        <div class="desc"> Let's change one of the array's elements.</div>
        <p class="code">colorArray[0] = "green" </p>
        <div class="console-log">console.log(colorArray) <span>//(3) ['green', 'blue', 'orange']</span></div>

        <div class="desc"> Let's add an element.</div>
        <p class="code"> colorArray.<span class="method">push</span>("purple", "black")</p>

        <div class="console-log">console.log(colorArray) <span>//(5) ['green', 'blue', 'orange', 'purple',
                'black']</span></div>


        <div class="desc"> Let's remove an element from the end of the array.</div>

        <p class="code"> colorArray.<span class="method">pop</span>()</p>

        <div class="console-log">console.log(colorArray) <span>//(4) ['green', 'blue', 'orange', 'purple']</span></div>


        <div class="desc"> Let's add an element to the beginning of the array.</div>
        <p class="code"> colorArray.<span class="method">unshift</span>("white")</p>
        <div class="console-log">console.log(colorArray) <span>//(5) ['white', 'green', 'blue', 'orange',
                'purple']</span></div>


        <div class="desc"> Let's remove an element from the beginning of the array.</div>
        <p class="code"> colorArray.<span class="method">shift</span>()</p>
        <div class="console-log">console.log(colorArray) <span>//(4) ['green', 'blue', 'orange', 'purple']</span></div>


        <div class="desc"> Let's access the length of the array.</div>
        <p class="code">let arrayLength = colorArray.<span class="method">length</span> </p>
        <div class="console-log">console.log(arrayLength) <span>// 4</span></div>




        <div class="desc"> Let's find the index of an element in the array.</div>
        <p class="code"> let colorIndex = colorArray.<span class="method">indexOf</span>("orange") </p>
        <div class="console-log">console.log(colorIndex) <span>// 2</span></div>
        <p class="code"> let colorIndex = colorArray.indexOf("green") </p>
        <div class="console-log">console.log(colorIndex) <span>// 0</span></div>

        <div class="desc"> If we're looking for the index of an element that doesn't exist the console will print "-1"
        </div>

        <p class="code"> let colorIndex = colorArray.indexOf("gold") </p>
        <div class="console-log">console.log(colorIndex) <span>// -1</span></div>





        <div class="desc"> Let's loop through the elements of our array.</div>
        <p class="code"> for(let index = 0; index < colorArray.length; index++) {<br>
                <span class="transp">___</span>console.log(colorArray[index])<br>
                } </p>
        <div class="console-log">
            <div>// green<br>blue<br>orange<br>purple</div>
        </div>

        <div class="desc"> OR</div>

        <p class="code"> for(let everyColor of colorArray) {<br>
            <span class="transp">___</span>console.log(everyColor)<br>
            }
        </p>
        <div class="console-log">
            <div>// green<br>blue<br>orange<br>purple</div>
        </div>



        <div class="desc"> Let's loop through the elements of our array backwards.</div>

        <p class="code"> for(let index = colorArray.length - 1; index >= 0; index--) {<br>
            <span class="transp">___</span>console.log(colorArray[index])<br>
            }
        </p>

        <div class="console-log">
            <div>// purple<br>orange<br>blue<br>green</div>
        </div>


        <div class="desc"> Let's sort our array (an array of strings) in alphabetical order.</div>
        <p class="code"> colorArray.<span class="method">sort</span>()</p>
        <div class="console-log">console.log(colorArray) <span>//(4) ['blue', 'green', 'orange', 'purple']</span></div>

        <div class="desc"> Let's sort our array (an array of strings) in reverse alphabetical order.</div>
        <p class="code"> colorArray.<span class="method">sort</span>().<span class="method">reverse</span>()</p>
        <div class="console-log">console.log(colorArray) <span>//(4) ['purple', 'orange', 'green', 'blue']</span></div>



        <h2 class="mt3 mb3 entry-subtitle">An Array of Arrays</h2>

        <p class="desc">This is an array of warm colors.</p>

        <p class="code"> let warmColors = ["red", "yellow", "orange"] </p>



        <p class="desc">This is an array of cool colors.</p>

        <p class="code"> let coolColors = ["green", "blue", "purple"] </p>

        <p class="desc">This is an array of all colors.</p>

        <p class="code"> let allColors = [warmColors, coolColors] </p>

        <p class="desc">Let's display a list of every color in both arrays.</p>

        <p class="code"> for (let colors of allColors) {<br>
            <span class="transp">___</span> for(let color of colors) {<br>
            <span class="transp">___</span> console.log(color)<br>
            <span class="transp">___</span> }<br>
            }
        </p>
        <div class="console-log">console.log(color)</div>
        <div class="console-log">
            <div>//
                red<br>yellow<br>orange<br>green<br>blue<br>purple
            </div>
        </div>


        <p class="desc">Let's access an element inside of an array of arrays. We need to use 2 pairs of square brackets
            in order to do that. First pair of brackets is the index of the array we want to access. Second pair is the
            index of the color within the array.</p>


        <p class="desc">For example, "blue" is the second color (index 1) in the second array (index 1).</p>

        <div class="console-log">console.log(allColors[1][1])<span>//blue</span></div>
        <p class="desc">"Red" is the first color (index 0) in the first array (index 0).</p>

        <div class="console-log">console.log(allColors[0][0])<span>//red</span></div>

        <p class="desc">"Orange" is the third color (index 2) in the first array (index 0).</p>

        <div class="console-log">console.log(allColors[0][2])<span>//orange</span></div>














        <h2 class="mt3 mb3 entry-subtitle">Spread Operator (...)</h2>
        <p class="desc">The spread operator will unpack the elements from within our string and array.</p>
        <p class="desc">Let's use the spread operator on a string.</p>
        <p class="code">let myName = "Lena Esposito"</p>
        <div class="console-log">console.log(myName) <span>//Lena Esposito</span> </div>
        <div class="console-log">console.log(...myName) <span>//L e n a E s p o s i t o</span> </div>

        <p class="desc">Let's use the spread operator on an array.</p>
        <p class="code">let numbers = [1, 2, 3, 4, 5]</p>
        <div class="console-log">console.log(numbers) <span>//(5) [1, 2, 3, 4, 5]</span> </div>
        <div class="console-log">console.log(...numbers) <span>//1 2 3 4 5</span> </div>


        <p class="desc">Why do we need it? For example, let's find the element with the highest value.<br> If we use
            Math.max() without the spread operator, console will print "NaN".</p>

        <p class="code">let maximum = Math.max(numbers)</p>

        <div class="console-log">console.log(maximum) <span>//NaN</span> </div>

        <p class="code">let maximum = Math.max(...numbers)</p>

        <div class="console-log">console.log(maximum) <span>//5</span> </div>

















        <h2 class="mt3 mb3 entry-subtitle">Rest Parameters (...)</h2>
        <p class="desc"> The rest parameter syntax allows a function to accept an indefinite number of arguments as an
            array.</p>
        <p class="code">
            function sum(...numbers) { <br>
            <span class="transp">___</span>let total = 0; <br>
            <span class="transp">___</span>for (const number of numbers) { <br>
            <span class="transp">___</span>total += number; <br>
            <span class="transp">___</span>} <br>
            <span class="transp">___</span>return total; <br>
            }

        </p>
        <div class="console-log"> console.log(sum(5,10,10)) <span>//25</span> </div>
        <div class="console-log"> console.log(sum(5,10,10,15,25)) <span>//65</span> </div>


        <h2 class="mt3 mb3 entry-subtitle">array.forEach()</h2>
        <p class="desc">Let's capitalize the first letter of each element of an array.</p>
        <p class="code">let polishCities = ["warsaw", "gdansk", "torun", "lublin", "katowice"]
        </p>



        <p class="desc">This function will capitalize the first letter of the elements of the array.</p>
        <p class="code"> function capitalize(element, index, array){<br>
            <span class="transp">___</span>array[index] = element[0].toUpperCase() + element.substring(1);<br>
            }
        <p class="desc">This function will print all the capitalized elements in the console.</p>
        <p class="code"> function list(element) {<br>
            <span class="transp">___</span>console.log(element)<br>
            }
        </p>
        <p class="desc">Let's call both functions.</p>
        <p class="code">polishCities.<span class="method">forEach</span>(capitalize)<br>
            polishCities.<span class="method">forEach</span>(list)</p>

        <div class="console-log">
            <div>//
                Warsaw<br>Gdansk<br>Torun<br>Lublin<br>Katowice
            </div>
        </div>


        <h2 class="mt3 mb3 entry-subtitle">array.map()</h2>
        <p class="desc">Let's map over every element of an array and execute a callback function on it, and therefore,
            create a new array.</p>
        <p class="code">let unfinishedWords = ["coffe", "latt", "cattl", "mous"]
        </p>

        <p class="code"> let finishedWords = unfinishedWords.<span class="method">map</span>(addE)</p>


        <p class="code"> function addE(element) {<br>
            <span class="transp">___</span>console.log(element + "e")<br>
            }
        </p>


        <div class="console-log">
            <div>//
                cofee<br>latte<br>cattle<br>mouse
            </div>
        </div>


        <h2 class="mt3 mb3 entry-subtitle">array.filter()</h2>
        <p class="desc">Let's check which elements of an array will pass a test provided by a function, and therefore,
            create a new array.</p>

        <p class="code">let age = [3, 5, 15, 25, 35, 36, 45, 11, 101, 8]</p>

        <p class="code">let adults = age.<span class="method">filter</span>(adultsCheck)<br>
            adults.forEach(print)</p>

        <p class="code">
            function adultsCheck(arrayElement) {<br>
            <span class="transp">___</span>return arrayElement >= 18;<br>
            }
        </p>
        <p class="code">
            function print(arrayElement){<br>
            <span class="transp">___</span>console.log(arrayElement)<br>
            }
        </p>

        <div class="console-log">
            <div>//
                25<br>35<br>36<br>45<br>101
            </div>
        </div>

        <h2 class="mt3 mb3 entry-subtitle">Sorting an array of numbers in ascending or descending order</h2>
        <p class="code">let age = [3, 5, 15, 25, 35, 36, 45, 11, 101, 8]</p>

        <p class="code">
            function print(element) {<br>
            <span class="transp">___</span>console.log(element)<br>
            }
        </p>
        <p class="desc">Let's sort our array of ages in descending order.</p>

        <p class="code">aageDesc = age.sort(ageDescending).forEach(print);</p>
        <p class="code">function ageDescending(age1, age2) {<br>
            <span class="transp">___</span>return age2 - age1;<br>
            }
        </p>
        <div class="console-log">
            <div>//
                101<br>
                45<br>
                36<br>
                35<br>
                25<br>
                15<br>
                11<br>
                8<br>
                5<br>
                3
            </div>
        </div>


        <p class="desc">Let's sort our array of ages in ascending order.</p>

        <p class="code">ageAsc = age.sort(ageAscending).forEach(print)</p>
        <p class="code">
            function ageAscending(age1, age2) {<br>
            <span class="transp">___</span>return age1 - age2;<br>
            }
        </p>
        <div class="console-log">
            <div>//3<br>
                5<br>
                8<br>
                11<br>
                15<br>
                25<br>
                35<br>
                36<br>
                45<br>
                101
            </div>
        </div>



        <h2 class="mt3 mb3 entry-subtitle">array.reduce()</h2>
        <p class="desc"></p>
        <P class="code">let prices = [3.99, 5.45, 11.99, 104.50]</P>

        <p class="code">let total = prices.<span class="method">reduce</span>(addUp)</p>
        <p class="code">function addUp(total, element) {<br>
            <span class="transp">___</span>return total + element<br>
            }
        </p>
        <div class="console-log"> console.log("£"+total) <span>//£125.93</span> </div>

        <hr class="mt2 hr-white mb2">


    </div>
    <script>

    </script>
    <!-- Copy to here -->
    <!-- Footer -->
    <div id="previous-next-loader" class="mt2"></div>

    <!-- Footer -->
    <div id="footer-loader-entry" class="mt2"></div>

    <!-- Load the CDN first -->
    <script src="//code.jquery.com/jquery-3.7.0.js"></script>

    <!-- If CDN fails to load, serve up the local version -->
    <script>window.jQuery || document.write('<script src="../jquery-2.1.4.js"><\/script>');</script>

    <!-- jQuery UI -->
    <script src="../jquery-ui.min.js"></script>
    <script src="new-post.js"></script>
</body>

</html>