<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lena Esposito Blog: Calculator (JavaScript)</title>
    <link href="jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/lenaesposito.css">
    <link rel="stylesheet" href="../public/styles/blog.css">

    <script src="https://kit.fontawesome.com/c5fce3d149.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="../public/styles/lenaesposito.css">
    <link rel="stylesheet" href="../public/styles/blog.css">
    <link rel="stylesheet" href="newpost.css">
    <style>

    </style>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N5N9M504R8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N5N9M504R8');
</script>

<body class="flex-column">
 
    <header class="primary-header background-white flex shadow">

        <div class="w70 flex header scrollWatcher">
            <!-- 1 .header -->
            <a href="../index.html">
                <div class="logo flex">
                    <img class="image image1" height="100px" src="https://lenaesposito.co.uk/assets/le-logo.svg"
                        alt="lena esposito logo part 1">
                    <img class="image image2 shake-horizontal" height="80px"
                        src="https://lenaesposito.co.uk/assets/lenaesposito.svg" alt="lena esposito logo part2">
                </div>


                <div class="nav-blog">Blog</div>
            </a>
            <!-- 2 .header-->
            <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only"
                    aria-expanded="false">Menu</span></button>
            <!-- 3 .header-->
            <nav role="navigation" class="navmenu">
                <ul id="primary-navigation" data-visible="false" class="primary-navigation uppercase flex"
                    nav-visible="false">
                    <li><a class="link-nav " href="categories.html">Categories</a></li>
                    <li><a class="shadow action-btn" href="pages/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Copy from here -->
    <style>
        .desc {
            font-style: italic;
            font: 0.9rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        .code {
            overflow-wrap: break-word;
            background: rgba(137, 137, 137, 0.449);
            padding: 1rem;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }

        span.method {
            color: rgb(217, 255, 0);
        }

        span.indent {
            margin-left: 2rem;
        }
    </style>
    <div class="separator mb5"></div>
    <h1 class="entry-title">JavaScript Games and Small Apps</h1>
        <p class="entry-content">Here's several games and apps that every web developer knows. Temperature converter,
            number guessing game. These apps are great for practising JavaScript and putting newly acquired skills to
            test.</p>

        <h2 class="mt3 mb3 entry-subtitle">1. Number Guessing Game</h2>
        <div>
            <p class="entry-content mb1">Pick a number between 1 and 100.
            </p>
            <label for="guessField">Enter a guess: </label>
            <input class="mb1 guess-field" type="text" id="guessField">
            <input class=" submit-btn mb1 uppercase" type="submit" id="submitBtn">
            <div class="mt1 guess-answer" id="guess-answer"><span></span></div>
        </div>
        <hr class="mt2 hr-white mb2">

        <section class="temp-converter">
            <h2 class="mt3 entry-subtitle">2. Temperature Converter</h2>
            <label for="textBox">Enter a temperature: </label>
            <input class="mb1 temp-field" type="text" id="textBox">
            <br><br>
            <div class="convert flex">

                <label>Convert to:</label>
                <div>
                    <div class="div-radio flex"><input type="radio" name="unit" id="cTemp" class="radio-input"><label
                            for="cTemp">Celsius</label></div>
                    <div class=" mt1 mb1 div-radio flex"> <input type="radio" name="unit" id="fTemp"
                            class="radio-input"><label for="fTemp">Fahrenheit</label></div>
                </div>
            </div>


            <input class="submit-btn uppercase submitTemp" type="submit" id="submitTemp">


            <div class="mt1 mb2 temp-answer"><span id="temp-answer"></span></div>
        </section>

        <hr class="mt2 hr-white mb2">

    <div class="w70">

    </div>
    <script>

    </script>
    <!-- Copy to here -->
    <!-- Footer -->
    <div id="previous-next-loader" class="mt2"></div>

    <!-- Footer -->
    <div id="footer-loader-entry" class="mt2"></div>

    <!-- Load the CDN first -->
    <script src="//code.jquery.com/jquery-3.7.0.js"></script>

    <!-- If CDN fails to load, serve up the local version -->
    <script>window.jQuery || document.write('<script src="../jquery-2.1.4.js"><\/script>');</script>

    <!-- jQuery UI -->
    <script src="../jquery-ui.min.js"></script>
    <script src="new-post.js"></script>
</body>

</html>