<footer class="mt5 footer shadow background-white">
    <a href="#get-started" aria-label="Go to the top of the page"><i
            class="fa-solid fa-arrow-up  background-white"></i></a>

    <div class="footer-content w70 flex">

        <!-- col 1 -->
        <div class="footer-privacy-policy text-link">
            <h3 class="uppercase mt2 mb1">Navigation</h3>
            <a href="https://lenaesposito.co.uk/index.html#section-contact" style="line-height: 2rem;">Contact</a><br>
            <a href="https://lenaesposito.co.uk/index.html#projects-section" style="line-height: 2rem;">Projects</a><br>
            <a href="https://lenaesposito.co.uk/index.html#about-me" style="line-height: 2rem;">About</a><br>
            <a href="https://lenaesposito.co.uk/index.html#services-section" style="line-height: 2rem;">Services</a><br>

            <a href="https://lenaesposito.co.uk/privacy-policy.html" style="line-height: 2rem;"> Privacy
                Policy</a><br>
            <a href="https://lenaesposito.co.uk/credit.html" style="line-height: 2rem;"> Credit for Assets</a>
        </div>
        <!-- col 2 -->
        <div class="footer-contact text-link">
            <h3 class="uppercase mt2 mb1">Contact</h3>
            <p class="contact-info mb1"> <a class="flex-align" href="https://wa.me/7818977328"
                    aria-label="Call Lena Esposito on her mobile number"> <img src="../assets/whatsapp.png"
                        height="28px" alt="whatsapp logo"> <span> WhatsApp Me</span></a>
            </p>
            <p class="contact-info mb1"><i class="fa-solid fa-phone contact-icon-footer"></i> <a
                    href="tel:+447818977328" aria-label="Call Lena Esposito on her mobile number"> 07818 977 328</a>
            </p>
            <p class="contact-info mb1"><i class="fa-solid fa-envelope contact-icon-footer"></i> <a
                    href="mailto:contact@lenaesposito.co.uk" aria-label="Email Lena Esposito">
                    contact@lenaesposito.co.uk</a></p>
            <p class="contact-info mb1"><i class="fa-solid fa-location-dot contact-icon-footer"></i> Newport, Wales<br>
            </p>



        </div>
        <!-- col 2 -->
        <div class="footer-social text-link mb2">
            <h3 class="uppercase mt2 mb1">Meet me on Social media</h3>
            <a href="https://www.linkedin.com/in/lena-esposito-36ab84271/" target="_blank"><img
                    src="https://lenaesposito.co.uk/assets/l.png" alt="linked in icon"></a>
            <a href="https://facebook.com/lena.esposito.web.developer" target="_blank"><img
                    src="https://lenaesposito.co.uk/assets/f.png" alt="facebook icon"></a>
            <a href="https://www.instagram.com/lenaesposito_web/" target="_blank"><img
                    src="https://lenaesposito.co.uk/assets/instagram.png" alt="instagram icon"></a>
        </div>

    </div>
    <div class="footer-copyright center">&#169; Lena Esposito Blog 2023</div>
</footer>