    <header class="primary-header flex shadow">

        <div class="w70 flex header scrollWatcher">
            <!-- 1 .header -->
            <a href="/">
                <div class="logo flex">
                    <img class="image image1" height="100px" src="https://lenaesposito.co.uk/assets/le-logo.svg"
                        alt="lena esposito logo part 1">
                    <img class="image image2 shake-horizontal" height="80px"
                        src="https://lenaesposito.co.uk/assets/lenaesposito.svg" alt="lena esposito logo part2">
                </div>


                <div class="nav-blog">Blog</div>
            </a>
            <!-- 2 .header-->
            <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only"
                    aria-expanded="false">Menu</span></button>
            <!-- 3 .header-->
            <nav role="navigation" class="navmenu">
                <ul id="primary-navigation" data-visible="false" class="primary-navigation uppercase flex"
                    nav-visible="false">
                    
                    <li class="header__button">
                        <button class="searchBtn flex" aria-expanded="false">

                            <div class="searchBar">
                                <div class="container flex">
                                    <form action="/search" class="search__form" method="POST" role="search">
                                        <input type="search" aria-label="Search" name="searchPhrase" placeholder="Search">
                                    </form>
                        
                                </div>
                            </div>
                            <img type="submit" id="search-icon" src="/assets/magnifying-glass.png" alt="search icon">
                        </button>
                    </li>
                    <li class="dropdown"><a class="link-nav dropdown__button" href="/categories">Categories</a>
                    <div class="dropdown__content">
                        <a class="dropdown__link" href="/categories#category__javascript">JavaScript</a>
                        <a class="dropdown__link" href="/categories#category__smallApp">Small apps</a>
                        <a class="dropdown__link" href="/categories#category__website">Websites</a>
                        <a class="dropdown__link" href="/categories#category__jQuery">jQuery</a>
                        <a class="dropdown__link" href="/categories#category__bootstrap">Bootstrap</a>
                        <a class="dropdown__link" href="/categories#category__cheatSheet">Cheat Sheet</a>
                    </div>
                    </li>
                    
                    <li><a class="shadow action-btn nav-button" href="https://lenaesposito.co.uk/index.html#section-contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>