<header class="primary-header flex shadow">

    <div class="w70 flex header scrollWatcher">
        <!-- 1 .header -->
        <a href="/">
            <div class="logo flex">
                <img class="image image1" height="100px" src="https://lenaesposito.co.uk/assets/le-logo.svg"
                    alt="lena esposito logo part 1">
                <img class="image image2 shake-horizontal" height="80px"
                    src="https://lenaesposito.co.uk/assets/lenaesposito.svg" alt="lena esposito logo part2">
            </div>


            <div class="nav-blog">Blog</div>
        </a>
        <!-- 2 .header-->
        <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only"
                aria-expanded="false">Menu</span></button>
        <!-- 3 .header-->
        <nav role="navigation" class="navmenu">
            <ul id="primary-navigation" data-visible="false" class="primary-navigation uppercase flex"
                nav-visible="false">

                <li class="header__button">
                        <form method="POST" action="/search" class="search-form" role="search">
                            <input class="search-input" type="search" aria-label="Search" name="searchTerm" placeholder="Search">
                            <button class="search-submit"><img height="50px" id="search-icon"
                                    src="/assets/magnifying-glass.png" alt="search icon"></button>
                        </form>

                </li>
                <li class="dropdown"><a class="link-nav dropdown__button" href="/categories">Categories</a>

                </li>
            </ul>
        </nav>
    </div>
</header>