<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lena Esposito Blog: Calculator (JavaScript)</title>
    <link href="jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/lenaesposito.css">
    <link rel="stylesheet" href="../public/styles/blog.css">

    <script src="https://kit.fontawesome.com/c5fce3d149.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="../public/styles/lenaesposito.css">
    <link rel="stylesheet" href="../public/styles/blog.css">
    <link rel="stylesheet" href="newpost.css">
    <style>

    </style>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N5N9M504R8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N5N9M504R8');
</script>

<body class="flex-column">
    <header class="primary-header background-white flex shadow">

        <div class="w70 flex header scrollWatcher">
            <!-- 1 .header -->
            <a href="../index.html">
                <div class="logo flex">
                    <img class="image image1" height="100px" src="https://lenaesposito.co.uk/assets/le-logo.svg"
                        alt="lena esposito logo part 1">
                    <img class="image image2 shake-horizontal" height="80px"
                        src="https://lenaesposito.co.uk/assets/lenaesposito.svg" alt="lena esposito logo part2">
                </div>


                <div class="nav-blog">Blog</div>
            </a>
            <!-- 2 .header-->
            <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only"
                    aria-expanded="false">Menu</span></button>
            <!-- 3 .header-->
            <nav role="navigation" class="navmenu">
                <ul id="primary-navigation" data-visible="false" class="primary-navigation uppercase flex"
                    nav-visible="false">
                    <li><a class="link-nav " href="categories.html">Categories</a></li>
                    <li><a class="shadow action-btn" href="pages/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Copy from here -->
    <style>
        .desc {
            font-style: italic;
            font: 0.9rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        .code {
            overflow-wrap: break-word;
            background: rgba(137, 137, 137, 0.449);
            padding: 1rem;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }

        span.method {
            color: rgb(217, 255, 0);
        }

        span.indent {
            margin-left: 2rem;
        }
    </style>
    <div class="separator mb5"></div>


    <div class="w70">
        <h1 class="entry-title">DOM Manipulation</h1>
        <p class="entry-content mb3">DOM stands for Document Object Model. We can change and modify the content of our
            web document (which is simply the website displayed in the browser) through JavaScript code, without making
            any changes to our .html file.</p>
        <p class="entry-content">Here are some of the ways that we can do it.</p>

        <h2 class="entry-subtitle mt3 mb2">Manipulating CSS Styles</h2>
        <p class="entry-content">In order to change CSS properties we need to select an element and assign it to a
            variable. Then we follow this pattern: <b>element.style.property = 'value'</b>, where <em>element</em>
            stands for the variable name, <em>property</em> for a CSS property and <em>value</em> for a CSS value.</p>
        <p class="entry-content">While single-word properties remain unchanged, multiple-word properties that are
            hyphenated in CSS need to be converted to camelCase.</p>

        <p class="desc">Let's select and declare the element that we want to change.</p>

        <div class="code__container">
            <div class="code__javascript">
                <p class="mb1 bb">.html</p>
                <p>&lt;h1 id="title"&gt;Document Title&lt;/h1&gt;</p>
            </div>
            <div class="code__html">
                <p class="mb1 bb">.js</p>
                <p>const title = document.getElementById('title');
                </p>
            </div>
        </div>

        <p class="desc">Now let's change the color of our title.</p>


        <div class="code__container">
            <p class="code__javascript">title.style.color = 'lightskyblue';</p>
            <p class="document shadow" style="color: lightskyblue">Document Title</p>
        </div>


        <p class="desc">Now let's change the background color of our title.</p>


        <div class="code__container">
            <p class="code__javascript">title.style.backgroundColor = 'grey';</p>
            <p class="document shadow" style="color: lightskyblue; background: grey;">Document Title</p>
        </div>

        <p class="desc">Let's change the font family of our title.</p>


        <div class="code__container">
            <p class="code__javascript">title.style.fontFamily = 'cursive';</p>
            <p class="document shadow" style="color: lightskyblue; background: grey; font-family: cursive;">Document
                Title</p>
        </div>


        <p class="desc">Let's center it.</p>

        <div class="code__container">
            <p class="code__javascript">title.style.textAlign = 'center';</p>
            <p class="document shadow"
                style="color: lightskyblue; background: grey; font-family: cursive; text-align: center;">Document Title
            </p>
        </div>


        <p class="desc">Let's give it a border.</p>

        <div class="code__container">
            <p class="code__javascript">title.style.border = '5px solid';</p>
            <p class="document shadow"
                style="color: lightskyblue; background: grey; font-family: cursive; text-align: center; border: 5px solid;">
                Document Title</p>
        </div>


        <h2 class="entry-subtitle mt3 mb2">JavaScript Event Attributes</h2>
        <p class="entry-content">JavaScript Events are actions that you can assign to certain events that occur in HTML
            pages.</p>
        <p class="entry-content">Here's how it works.</p>
        <p class="desc">Let's select an element that we want to react on. We can give the element an event attribute
            inserting it directly inside the tag.</p>

        <div class="code__container">
            <div class="code__javascript">
                <p class="mb1 bb">.html</p>
                <p>&lt;button id="button"&gt;Click Me!&lt;/button&gt; <br><br>
                    OR<br><br>
                    &lt;button id="button" onclick="functionName()"&gt;Click Me!&lt;/button&gt;</p>
            </div>
            <div class="code__html">
                <p class="mb1 bb">.js</p>
                <p>const button = document.getElementById('button');<br><br>
                    function functionName(){<br>
                    <span class="indent"></span>alert('Hello')<br>
                    }
                </p>
            </div>
        </div>

        <p class="desc">We can allso assign a function to our button in the .js file. In this case we only use the function name - we don't need to call the function with the parentheses.</p>

        <div class="code__container">
            <p class="code__javascript">button.onclick = functionName;</p>
            <button id="button-event" onclick="functionName()" class="button__event shadow" style="width: 100px; border-radius: 5px;">Click
                Me!</button>
        </div>





        <p class="entry-content mt2">The full list of HTML Events can be found <a
                href="https://www.w3schools.com/tags/ref_eventattributes.asp">on w3schools</a>. </p>
        <p class="entry-content mt2"> Some of the most frequently used events include: </p>
        <ul>
            <li>onclick</li>
            <li>onload</li>
            <li>onchange</li>
            <li>onmouseover</li>
            <li>onmouseout</li>
            <li>onmousedown</li>
            <li>onmouseup</li>
            <li></li>
            <li></li>
            <li></li>
        </ul>



        <script>
            const buttonEvent = document.getElementById('button-event');

            function functionName(){
                alert('Hello')
            } 
        </script>
        <!-- Copy to here -->



        <!-- Footer -->
        <div id="previous-next-loader" class="mt2"></div>

        <!-- Footer -->
        <div id="footer-loader-entry" class="mt2"></div>

        <!-- Load the CDN first -->
        <script src="//code.jquery.com/jquery-3.7.0.js"></script>

        <!-- If CDN fails to load, serve up the local version -->
        <script>window.jQuery || document.write('<script src="../jquery-2.1.4.js"><\/script>');</script>

        <!-- jQuery UI -->
        <script src="../jquery-ui.min.js"></script>
        <script src="new-post.js"></script>
</body>

</html>