<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lena Esposito Blog: Calculator (JavaScript)</title>
    <link href="jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/lenaesposito.css">
    <link rel="stylesheet" href="../public/styles/blog.css">

    <script src="https://kit.fontawesome.com/c5fce3d149.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="../public/styles/lenaesposito.css">
    <link rel="stylesheet" href="../public/styles/blog.css">
    <link rel="stylesheet" href="newpost.css">
    <style>

    </style>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N5N9M504R8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N5N9M504R8');
</script>

<body class="flex-column">
    <header class="primary-header background-white flex shadow">

        <div class="w70 flex header scrollWatcher">
            <!-- 1 .header -->
            <a href="../index.html">
                <div class="logo flex">
                    <img class="image image1" height="100px" src="https://lenaesposito.co.uk/assets/le-logo.svg"
                        alt="lena esposito logo part 1">
                    <img class="image image2 shake-horizontal" height="80px"
                        src="https://lenaesposito.co.uk/assets/lenaesposito.svg" alt="lena esposito logo part2">
                </div>


                <div class="nav-blog">Blog</div>
            </a>
            <!-- 2 .header-->
            <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only"
                    aria-expanded="false">Menu</span></button>
            <!-- 3 .header-->
            <nav role="navigation" class="navmenu">
                <ul id="primary-navigation" data-visible="false" class="primary-navigation uppercase flex"
                    nav-visible="false">
                    <li><a class="link-nav " href="categories.html">Categories</a></li>
                    <li><a class="shadow action-btn" href="pages/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Copy from here -->
    <style>
        body {
            text-align: left;
            color: rgb(255, 255, 255);
        }

        * {
            transition: none;

        }

        .console-log {
            overflow-wrap: break-word;
            background: rgba(137, 137, 137, 0.449);
            padding: 1rem;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(2, 9, 85);
            margin-left: 1rem;
            font-weight: bold;
        }

        .console-log span {
            overflow-wrap: break-word;
            color: rgb(134, 255, 123);
            margin-top: 1rem;
            margin-left: 3rem;
        }

        .console-log div {
            overflow-wrap: break-word;
            margin-top: 1rem;
            margin-left: 10rem;

            color: rgb(134, 255, 123);

        }

        .desc {
            font-style: italic;
            font: 0.9rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        .code {
            overflow-wrap: break-word;
            background: rgba(137, 137, 137, 0.449);
            padding: 1rem;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }

        span.method {
            color: rgb(217, 255, 0);
        }

        .transp {
            color: transparent;
        }


    </style>
    <div class="separator mb5"></div>


    <div class="w70">
        <h1 class="entry-title">JavaScript Objects Cheat Sheet</h1>
        <p class="text">
            Let's revise on the objects in JavaScript.
        </p>
        <h2 class="mt3 mb3 entry-subtitle">Objects</h2>




        <p class="desc">An object is a group of properties (what the object has) and methods (what the object can do).
            We can use "." to access object's methods and properties.</p>

        <p class="code">
            const house = {<br>
            <span class="transp">____</span>address: "7 Bond Street",<br>
            <span class="transp">____</span>builtIn: "1950",<br>
            <span class="transp">____</span>type: "terraced",<br><br>

            <span class="transp">____</span>sell : function() {<br>
            <span class="transp">____</span>console.log("This house is for sale.")<br>
            <span class="transp">____</span>},<br><br>
            <span class="transp">____</span>live : function() {<br>
            <span class="transp">____</span>console.log("Someone lives in this house.")<br>
            <span class="transp">____</span>},<br><br>
            <span class="transp">____</span>renovate : function() {<br>
            <span class="transp">____</span>console.log("This house is being renovated.")<br>
            <span class="transp">____</span>}<br>

            }
        </p>

        <div class="console-log">console.log(house.address) <span>//7 Bond Street</span></div>
        <div class="console-log">house.live()<span>//Someone lives in this house.</span></div>


        <h2 class="mt3 mb3 entry-subtitle">"This" keyword</h2>

        <p class="desc">"This" refrences the object based on its immediate context.</p>

        <p class="code">
            const house = {<br>
            <span class="transp">____</span>address: "7 Bond Street",<br>
            <span class="transp">____</span>builtIn: "1950",<br>
            <span class="transp">____</span>type: "terraced",<br><br>

            <span class="transp">____</span>sell : function() {<br>
            <span class="transp">____</span>console.log(`The house at ${this.address} is for sale.`)<br>
            <span class="transp">____</span>},<br><br>
            <span class="transp">____</span>live : function() {<br>
            <span class="transp">____</span>console.log(`Someone lives in house at ${this.address}.`)<br>
            <span class="transp">____</span>},<br><br>
            <span class="transp">____</span>renovate : function() {<br>
            <span class="transp">____</span>console.log(`The house at ${this.address} is being renovated.`)<br>
            <span class="transp">____</span>}<br>

            }
        </p>

        <div class="console-log">house.renovate()<span>//The house at Bond Street is being renovated.</span></div>
        <div class="console-log">house.live()<span>//Someone lives in house at Bond Street.</span></div>


        <p class="desc">If we use "this" outside of an object we reference the "Window" object. </p>
        <div class="console-log">console.log(this)<span>//Window {window: Window, self: Window, document: document,
                name: '', location: Location, …}</span></div>



        <h2 class="mt3 mb3 entry-subtitle">Classes</h2>

        <p class="desc">Classes are a template for creating objects. They encapsulate data with code to work on that
            data.</p>

        <p class="code"><span class="method">class</span> Rectangle {<br>
            <span class="transp">____</span>height = 2;<br>
            <span class="transp">____</span>width = 7;<br><br>

            <span class="transp">____</span>areaCalc() {<br>
            <span class="transp">____</span>return this.height * this.width<br>
            <span class="transp">____</span>}<br>
            }
        </p>
        <p class="desc">Let's create more rectangles.</p>
        <p class="code"> const rectangle1 = new Rectangle();<br>
            const rectangle2 = new Rectangle();
        </p>
        <p class="desc">We've created two identical rectangles.</p>
        <div class="console-log"> console.log(rectangle1.areaCalc())<span>//14</span></div>
        <div class="console-log"> console.log(rectangle2.areaCalc())<span>//14</span></div>


        <h2 class="mt3 mb3 entry-subtitle">Classes: constructor function</h2>
        <p class="desc">The constructor method is a special method within a class for creating and initializing an
            object
            instance of that class. It accepts arguments and assigns properties.</p>

        <p class="code">class Book {<br>
            <span class="transp">____</span><span class="method">constructor</span>(title, author, year) {<br>
            <span class="transp">________</span>this.title = title;<br>
            <span class="transp">________</span>this.author = author;<br>
            <span class="transp">________</span>this.year = year;<br>
            <span class="transp">____</span>}<br>
            <span class="transp">____</span>published() {<br>
            <span class="transp">________</span>console.log(`"${this.title}" by ${this.author} was published in
            ${this.year}.`)<br>
            <span class="transp">____</span><span class="transp">____</span>}<br>
            }
        </p>
        <p class="code">const book1 = new Book("It", "Stephen King", 1986);
        <div class="console-log"> book1.published()<span>//"It" by Stephen King was published in 1986.</span></div>
        </p>


        <h2 class="mt3 mb3 entry-subtitle">Classes: "static" keyword</h2>
        <p class="desc">Used with variables, methods, blocks and nested classes to share the same variable or method of
            a class. It is the same for every instance of a class.</p>

        <p class="code">

            class Game {<br><br>
            <span class="transp">____</span><span class="method">static</span> numberOfGames = 0;<br><br>

            <span class="transp">____</span> constructor(name) {<br>
            <span class="transp">________</span> this.name = name;<br>
            <span class="transp">________</span> Game.numberOfGames +=1;<br>
            <span class="transp">____</span> }<br>
            }<br><br>

            const game1 = new Game("Snake");<br>
            const game2 = new Game("Bowling");<br>
            const game3 = new Game("Piggy in the Middle");
        <div class="console-log"> console.log(Game.numberOfGames)<span>//3</span></div>

        </p>


        <h2 class="mt3 mb3 entry-subtitle">Inheritance and "extends" keyword</h2>

        <p class="desc">The "extends" keyword is used in class declarations or class expressions to create a class that
            is a child of another class. It indicates that a class is inherited from another class.</p>

        <p class="code"></p>

        <p class="desc">Classes Book, Magazine and Comic have all function <b>read</b> in common.</p>

        <p class="code">
            class ReadingMaterial {<br>
            <span class="transp">____</span> read() {<br>
            <span class="transp">________</span> console.log(`I am reading "${this.title}".`)<br>
            <span class="transp">____</span> }<br>
            }<br><br>

            class Book <span class="method">extends</span> ReadingMaterial {<br>
            <span class="transp">____</span> title = "It"<br>
            }<br>
            class Magazine <span class="method">extends</span> ReadingMaterial {<br>
            <span class="transp">____</span> title = "Glamour"<br>
            }<br>
            class Comic <span class="method">extends</span> ReadingMaterial {<br>
            <span class="transp">____</span> title = "Manga"<br>
            }
        </p>
        <p class="code">const book = new Book()</p>
        <div class="console-log"> book.read()<span>//I am reading "It".</span></div>

        <h2 class="mt3 mb3 entry-subtitle">Classes: "super" keyword</h2>

        <p class="desc">The "super" keyword is used to call parent class' variables and methods (constructors only).</p>
        <p class="code">
            class Animal {<br><br>
            <span class="transp">____</span> constructor(name, age) {<br>
            <span class="transp">________</span> this.name = name;<br>
            <span class="transp">________</span> this.age = age;<br>
            <span class="transp">____</span> }<br>
            }<br><br>

            class Dog extends Animal {<br><br>

            <span class="transp">____</span> constructor(name, age, runningSpeed) {<br><br>

            <span class="transp">________</span> <span class="method">super</span>(name, age)<br>
            <span class="transp">________</span> this.runningSpeed = runningSpeed;<br>
            <span class="transp">____</span> }<br>

            }<br><br>

            class Cat extends Animal {<br><br>

            <span class="transp">____</span> constructor(name, age, runningSpeed) {<br><br>

            <span class="transp">________</span> <span class="method">super</span>(name, age)<br>
            <span class="transp">________</span> this.runningSpeed = runningSpeed;<br>
            <span class="transp">____</span> }<br>

            }<br><br>

            class Bird extends Animal {<br><br>

            <span class="transp">____</span> constructor(name, age, flyingSpeed) {<br><br>

            <span class="transp">________</span> <span class="method">super</span>(name, age)<br>
            <span class="transp">________</span> this.flyingSpeed = flyingSpeed;<br>
            <span class="transp">____</span> }<br>

            }<br><br>

            const dog = new Dog("Rocky", 5, "40km/h")<br>
            const cat = new Cat("Daisy", 7, "45km/h")<br>
            const bird = new Bird("Pongo", 2, "40km/h")

        </p>

        <div class="console-log"> console.log(dog.name)<span>//Rocky</span></div>
        <div class="console-log"> console.log(bird.age)<span>//2</span></div>


        <h2 class="mt3 mb3 entry-subtitle">Getters and Setters</h2>
        <p class="desc">The "get" method returns the variable value and makes it a "read-only" property, which should
            not be changed. It provides additional security and lets us set up some additional logic. The "set" method
            sets the value.</p>
        <p class="code">
            class Car {<br>
                <span class="transp">____</span>  constructor (power){<br>
                    <span class="transp">________</span>  this._gas = 25;<br>
                    <span class="transp">________</span>  this._power = power;<br>
                    <span class="transp">____</span>  }<br>
                    <span class="transp">____</span> <span class="method"> get</span> power() {<br>
                        <span class="transp">________</span>  return `${this._power}hp`<br>
                        <span class="transp">____</span> }<br>
                    <span class="transp">____</span> <span class="method"> get</span> gas() {<br>
                        <span class="transp">________</span>  return `There's ${this._gas}L of gas in the tank. It's ${this._gas / 50 * 100}% full.`<br>
                        <span class="transp">____</span> }<br><br>

<p class="desc">We can set the maximum and minimum value of gas.</p>
                     <p class="code"><span class="transp">____</span><span class="method">set</span>  gas(value) {<br><br>

                            <span class="transp">____</span> if (value > 50) {<br>
                                <span class="transp">________</span> value = 50;<br>
                                <span class="transp">____</span> } else if (value < 0) {<br>
                                    <span class="transp">________</span>value = 0;<br>
                                    <span class="transp">____</span> }<br>
                                    <span class="transp">____</span> this._gas = value;<br>
                                    <span class="transp">____</span> }<br>
            }
</p>

           <p class="code">let car = new Car(400);</p> 



<div class="console-log">console.log(car.power)<span>//400hp</span></div>

<p class="desc">If we change the value of gas to a number greater than 50, console will print the maximum value that has been set, which is 50. If the value of gas is below 0, console will print the minimum set valu, which is 0.</p>


<p class="code">
    car.gas = -90;
    </p>

    <div class="console-log">console.log(car.gas)<span>//There's 0L of gas in the tank. It's 0% full.</span></div>

          <p class="code">  car.gas = 50;</p>
           


        
        <div class="console-log">
            console.log(car.gas)<span>//There's 50L of gas in the tank. It's 100% full.</span></div>

        </p>

<p class="desc">Example comes from a <a class="inside-link" href="https://www.youtube.com/@BroCodez" target="_blank">Youtube video by Bro Code</a> .</p>



















        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>










    </div>
    <script>

    </script>
    <!-- Copy to here -->
    <!-- Footer -->
    <div id="previous-next-loader" class="mt2"></div>

    <!-- Footer -->
    <div id="footer-loader-entry" class="mt2"></div>

    <!-- Load the CDN first -->
    <script src="//code.jquery.com/jquery-3.7.0.js"></script>

    <!-- If CDN fails to load, serve up the local version -->
    <script>window.jQuery || document.write('<script src="../jquery-2.1.4.js"><\/script>');</script>

    <!-- jQuery UI -->
    <script src="../jquery-ui.min.js"></script>
    <script src="new-post.js"></script>
</body>

</html>