.keyborad {
	 --radius: 4vmin;
	 --red: #646060;
	 --green: #64c864;
	 --blue: #6464ff;
	 border-radius: var(--radius);
	 position: relative;
}
.figma-shortcut {
    grid-template-columns: 1fr 1fr;
}
 .keyborad .keyboadr-inner {
	 display: flex;
	 gap: 1vmin;
	 border-radius: calc(var(--radius) * 0.5);
    padding-block: 0.5rem;
}
 .keyborad .keyboadr-inner .key {
	 max-width: 12vmin;
	 height: 7vmin;
	 padding: 0.5vmin 0.5vmin 0.8vmin;
	 top: 0.5vmin;
	 position: relative;
	 overflow: hidden;
	 border-radius: calc(var(--radius) * 0.5);
	 transform: translate3d(0, 0, 0);
	 animation: shadow 5s -0.5s linear infinite;
	 --delay: 0;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 1) {
	 --delay: 0.2s;
	 animation: shadow 5s calc(-0.5s + var(--delay)) linear infinite;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 1) .key-cotnent {
	 animation: color 5s calc(-0.5s + var(--delay)) linear infinite;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 2) {
	 --delay: 0.4s;
	 animation: shadow 5s calc(-0.5s + var(--delay)) linear infinite;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 2) .key-cotnent {
	 animation: color 5s calc(-0.5s + var(--delay)) linear infinite;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 3) {
	 --delay: 0.6s;
	 animation: shadow 5s calc(-0.5s + var(--delay)) linear infinite;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 3) .key-cotnent {
	 animation: color 5s calc(-0.5s + var(--delay)) linear infinite;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 4) {
	 --delay: 0.8s;
	 animation: shadow 5s calc(-0.5s + var(--delay)) linear infinite;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 4) .key-cotnent {
	 animation: color 5s calc(-0.5s + var(--delay)) linear infinite;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 5) {
	 --delay: 1s;
	 animation: shadow 5s calc(-0.5s + var(--delay)) linear infinite;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 5) .key-cotnent {
	 animation: color 5s calc(-0.5s + var(--delay)) linear infinite;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 6) {
	 --delay: 1.2s;
	 animation: shadow 5s calc(-0.5s + var(--delay)) linear infinite;
}
 .keyborad .keyboadr-inner .key:nth-child(1n + 6) .key-cotnent {
	 animation: color 5s calc(-0.5s + var(--delay)) linear infinite;
}
 @keyframes shadow {
	 0% {
		 box-shadow: 0 0 5vmin -2vmin var(--red);
	}
	 33% {
		 box-shadow: 0 0 5vmin -2vmin var(--blue);
	}
	 66% {
		 box-shadow: 0 0 5vmin -2vmin var(--green);
	}
	 100% {
		 box-shadow: 0 0 5vmin -2vmin var(--red);
	}
}
 .keyborad .keyboadr-inner .key:before {
	 content: '';
	 width: 400vmin;
	 height: 400vmin;
	 position: absolute;
	 top: 150%;
	 left: 150%;
	 transform: translate(-50%, -50%);
	 background: conic-gradient(var(--red), var(--green), var(--blue), var(--red));
	 animation: spin 5s var(--delay) linear infinite;
}
 @keyframes spin {
	 from {
		 transform: translate(-50%, -50%) rotate(0deg);
	}
	 to {
		 transform: translate(-50%, -50%) rotate(360deg);
	}
}
 .keyborad .keyboadr-inner .key .key-cotnent {
	 width: 100%;
	 height: 100%;
	 padding-inline: 1rem;
	 background-color: #111;
	 position: relative;
	 border-radius: calc(var(--radius) * 0.4);
	 font-size: 2.5vmin;
	 top: -0.3vmin;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 color: #fff;
	 z-index: 1;
	 cursor: pointer;
	 user-select: none;
	 box-shadow: 0 0.6vmin rgba(0, 0, 0, 0.6);
	 transition: top 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
 .keyborad .keyboadr-inner .key .key-cotnent:active {
	 top: 0vmin;
	 box-shadow: 0 0.3vmin rgba(0, 0, 0, 0.6);
	 background-color: rgba(17, 17, 17, 0.9);
}
 @keyframes color {
	 0% {
		 color: var(--red);
	}
	 33% {
		 color: var(--blue);
	}
	 66% {
		 color: var(--green);
	}
	 100% {
		 color: var(--red);
	}
}
 

.plus {
    color: white;
    margin-block: auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.shortcut-explanation {
    margin-left: 3rem;
    color: white;
    margin-block: auto;
    font-size: 1.2rem;
}