
<div class="separator mb5"></div>


<div class="w70">
    <h1 class="entry-title">jQueryUI To-Do List</h1>

    <h2 class="entry-subtitle">3 months into my learning-how-to-code journey: Time for jQuery and jQueryUI!</h2>
    <div>
        <p class="entry-content">My basic knowledge of jQuery comes from lectures by Brad Hussey. <a
                href="https://www.udemy.com/course/web-developer-course/" target="_blank">Ultimate Web Designer &
                Web Developer Course</a> was one of the courses that I purchased at the beginning of my coding
            journey with the intent to do it at some point in the future.</p>
        <p class="entry-content">
            Here is a cool project that was a part of that course. It incorporates draggable(), droppable() and
            sortable() methods of jQueryUI<Br>
            It's a fun app that you can use to keep track of your to-do-list.</p>

        <h2 class="entry-subtitle">How does it work?</h2>
        <p class="entry-content"> You can create new tasks, drag and move them across all days of the week. <br>
            You can also delete them by dragging and dropping them onto the rubbish bin icon.</p>
        <p class="entry-content"> Give it a go!</p>

    </div>
</div>
<section class="to-do-list-section w70" id="to-do-list-wrapper">
    <hr class="mb2" style="color: white;">
    <h2 class="entry-title center">To Do List</h2>

    <div id="to-do-list">
        <ul class="to-do-column shadow">
            <li class="day-of-the-week">Monday</li>
            <li class="add-item"><input type="text" placeholder="add new item..."></li>
        </ul>
        <ul class="to-do-column shadow">
            <li class="day-of-the-week">Tuesday</li>
            <li class="add-item"><input type="text" placeholder="add new item..."></li>
        </ul>
        <ul class="to-do-column shadow">
            <li class="day-of-the-week">Wednesday</li>
            <li class="add-item"><input type="text" placeholder="add new item..."></li>
        </ul>
        <ul class="to-do-column shadow">
            <li class="day-of-the-week">Thursday</li>
            <li class="add-item"><input type="text" placeholder="add new item..."></li>
        </ul>
        <ul class="to-do-column shadow">
            <li class="day-of-the-week">Friday</li>
            <li class="add-item"><input type="text" placeholder="add new item..."></li>
        </ul>
        <ul class="to-do-column shadow">
            <li class="day-of-the-week">Saturday</li>
            <li class="add-item"><input type="text" placeholder="add new item..."></li>
        </ul>
        <ul class="to-do-column shadow">
            <li class="day-of-the-week">Sunday</li>
            <li class="add-item"><input type="text" placeholder="add new item..."></li>
        </ul>
        <div class="center">Drop items here to delete: <br><br>
            <div id="delete-box"><img src="../assets/trash-can.svg" alt="" class="shake-horizontal"></div>
        </div>

    </div>
</section>


<!-- Footer -->
<div id="previous-next-loader" class="mt2"></div>

<!-- Footer -->
<div id="footer-loader-entry" class="mt2"></div>

<!-- Load the CDN first -->
<script src="//code.jquery.com/jquery-3.7.0.js"></script>

<!-- If CDN fails to load, serve up the local version -->
<script>window.jQuery || document.write('<script src="../jquery-2.1.4.js"><\/script>');</script>

<!-- jQuery UI -->
<script src="../jquery-ui.min.js"></script>

<!-- my JS -->
<script src="../lenaesposito.js"></script>
<script src="../blog.js"></script>


</body>

</html>