/* Reseseseseseseset */

:root {


    --clr-dark-gray: #333333;
    --clr-turq-green: #68d7ce;
    --clr-dark-turq-green: #269c92;
    --clr-blue: #3b6699;
    --clr-turqoise: rgba(46, 249, 255, 255);
    --clr-dark-turq-green-light: rgb(70, 72, 179);
    --clr-purple: rgb(64, 48, 128);
    --clr-dark: rgba(1, 16, 85, 255);
    --clr-light: rgb(232, 239, 221);
    --clr-dark-purple: rgb(37, 37, 97);
}


/*
    --clr-blue: #3b6699;
    --clr-turqoise: #2ef9ff;
    --clr-dark-turq-green: #404191;
    --clr-purple: #403080;
    --clr-dark: #011055;
    --clr-light: #e8efdd;
    --clr-dark-purple: #252561;

*/

