@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/* Reseseseseseseset */

:root {
    --clr-blue: #3b6699;
    --clr-turqoise: rgba(46, 249, 255, 255);
    --clr-violet: rgb(64, 65, 145);
    --clr-violet-light: rgb(83, 85, 202);
    --clr-purple: rgb(64, 48, 128);
    --clr-dark: rgba(1, 16, 85, 255);
    --clr-light: rgb(232, 239, 221);
    --clr-dark-purple: rgb(37, 37, 97);
    --clr-blue-light: #48aaff;
}


/*
    --clr-blue: #3b6699;
    --clr-turqoise: #2ef9ff;
    --clr-violet: #404191;
    --clr-purple: #403080;
    --clr-dark: #011055;
    --clr-light: #e8efdd;
    --clr-dark-purple: #252561;

*/


* {
    transition: 200ms;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}



/**************************/
/***   UTILITY CLASSES  ***/
/**************************/


.w70 {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}


.primary-navigation li {
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
}


@media (max-width: 95rem) {
    .w70 {
        width: 80%;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 70rem) {
    .w70 {
        width: 90%;
    }
}

@media (max-width: 40rem) {
    .w70 {
        width: 95%;
    }

    .primary-navigation li {
        font-size: 1.5rem;
    }

}

/**************************/
/***       body       ***/
/**************************/
.body-container {
    color: white;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.active-page {
    text-decoration: underline;
    text-underline-offset: 1rem;
}

/**************************/
/***       header       ***/
/**************************/

div[data-scroll-watcher] {
    position: absolute;
}

.shake-horizontal:hover {
    -webkit-animation: shake-horizontal 0.6s ease-in both;
    animation: shake-horizontal 0.6s ease-in both;
}

/* ----------------------------------------------
/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}


.image1:hover {
    -webkit-animation: rotate-center 0.4s infinite linear both;
    animation: rotate-center 0.4s infinite linear both;
}

.action-btn,
.action-btn a {
    color: var(--clr-light);
    padding: 1rem 1.2rem;
    border-radius: 7px;
    background: var(--clr-blue-light);
    transition: 0.5s;
    text-shadow: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.action-btn:hover,
.action-btn a:hover {
    background: var(--clr-purple);
    color: white;
    cursor: pointer;
    text-shadow: none;
}

.hero-text button {
    width: 12rem;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
}

.nav-button {
    position: relative;
    z-index: 3;
}
/* * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

header {
    background-color: var(--clr-violet);
    box-sizing: content-box;
    padding-top: 0.5rem;
    height: 6rem;
    position: fixed;
    z-index: 2;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    transition: background 800ms ease-in-out;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.header {
    flex-wrap: wrap;
    justify-content: space-between;
}


.logo {
    height: 6.5rem;
    align-items: center;
    justify-content: start;
}

.mobile-nav-toggle {
    display: none;
}

.image {
    padding: 1rem 0.2rem;
}

/* .image1 {
    height: 100px;
}

.image2 {
    height: 80px;
} */

nav {
    font-size: 1.3rem;
    text-shadow: black 1px 0 5px;
}

.primary-navigation {
    position: relative;
    padding: 1rem 0;
    flex-direction: row;
    align-items: center;
    column-gap: 2.5rem;
    list-style-type: none;
    z-index: 2000;
}

.link-nav {
    display: inline-block;
    padding: 1rem 0;
    transition: 0.3s;
}

.link-nav:hover {
    text-underline-offset: 0.8rem;
    text-shadow: white 1px 0 10px;
}


@media (max-width: 61em) {

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        aspect-ratio: 1/1;
        z-index: 9999;
        top: 1.5rem;
        right: 2rem;
        background-color: transparent;
        background-image: url('../assets/open.svg');
        background-size: contain;
        cursor: pointer;
        width: 3rem;
    }

    .mobile-nav-toggle[data-expanded="true"] {
        background-image: url('../assets/close.svg');
        background-repeat: no-repeat;
        width: 3rem;

    }

    .primary-navigation {
        position: fixed;
        height: 100vh;
        padding-top: 30%;
        margin: 0;
        background: var(--clr-violet);
        backdrop-filter: blur(1.5rem);
        row-gap: 3rem;
        align-items: center;
        flex-direction: column;
        inset: 0 0 0 30%;
        transform: translateX(100%);
        transition: transform 500ms ease-in;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);

    }

    @supports (backdrop-filter: blur(1.2rem)) {


        .primary-navigation {

            background: hwb(0 100% 0% / 0.2);
            backdrop-filter: blur(1.5rem);
        }
    }
}


@media (max-width: 35rem) {

    .mobile-nav-toggle {
        top: 1.8rem;
        right: 1.5rem;
        width: 2rem;
    }

    .image1 {
        display: none;
    }
}
